.center {
    margin: 0 auto;
    text-align: center;
}

.logo {
    width:50%;
}
.top-10 {
    margin-top: 10%;
}
/* .top-30 {
    margin-top: 30%;
} */

.width-30 {
    width:50%;
}

.width-100 {
    width:100%;
}

.grid {
    display: table;
}

.circle{
    border-radius: 50%;
    border: 1px solid black;
    width:25px;
    height:25px;
    text-align:center;
    display:table-cell;
}

.circle-big{
    border-radius: 50%;
    border: 1px solid black;
    width:75px;
    height:75px;
    text-align:center;
    display:table-cell;
}

.table-cell {
    display: table-cell;
}

.arrow {
    border-left: 1px black solid;
    border-top: 1px black solid;
}

.footer {
    position: fixed;
    bottom: 0;
}

button {
    background-color: white;
}

.list {
    margin-bottom: 50px;
    overflow-x: scroll;
    max-height: 370px;
}
/* Larger than mobile */
/* @media (min-width: 400px) {
    .list {
        max-height: 370px;
    }
}

/* Larger than phablet (also point when grid becomes active) 
@media (min-width: 550px) {
    .list {
        max-height: 370px;
    }
}

/* Larger than tablet 
@media (min-width: 750px) {}

/* Larger than desktop 
@media (min-width: 1000px) {}

/* Larger than Desktop HD 
@media (min-width: 1200px) {} */


li {
    list-style-type: none;
}
