.center {
    margin: 0 auto;
    text-align: center;
}

.logo {
    width:50%;
}
.top-10 {
    margin-top: 10%;
}
.top-30 {
    margin-top: 30%;
}

.width-100 {
    width:100%;
}

.grid {
    display: table;
}

.circle{
    border-radius: 50%;
    border: 1px solid black;
    width:25px;
    height:25px;
    text-align:center;
    display:table-cell;
}

.circle-big{
    border-radius: 50%;
    border: 1px solid black;
    width:75px;
    height:75px;
    text-align:center;
    display:table-cell;
}

.table-cell {
    display: table-cell;
}

.arrow {
    border-left: 1px black solid;
    border-top: 1px black solid;
}

.footer {
    position: fixed;
    bottom: 0;
}

button {
    background-color: white;
}

.list {
    margin-bottom: 50px;
    overflow-x: scroll;
    max-height: 370px;
}

/* tiny */
@media (min-width: 300px) {
    .button-width {
        width:100%;
    }
}

/* Larger than mobile */
@media (min-width: 400px) {
    .button-width {
        width:100%;
    }
}

/* Larger than phablet (also point when grid becomes active)  */
@media (min-width: 550px) {
    .button-width {
        width:100%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .button-width {
        width:40%;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .button-width {
        width: 20%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .button-width {
        width:20%;
    }
} 


.no-dots {
    list-style-type: none;
}

a:hover, a:visited, a:link, a:active {
    color: black;
    text-decoration: none;
}

